[user]
	name = Brian Cordonnier
	email = brian.cordonnier@tradingtechnologies.com
[credential]
	helper = cache --timeout=86400
[giggle]
	main-window-maximized = false
	main-window-geometry = 0x0+0+0
	main-window-view = HistoryView
	history-view-vpane-position = 73
	file-view-vpane-position = 77
[core]
	editor = vim
[color]
	ui = true
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[push]
	default = simple
[diff]
	tool = meld
[difftool]
	prompt = false
[mergetool]
	prompt = false
[merge]
	tool = meld
